@import '_vars.scss';

.abilities {
    width: 100%;
}

.abilities-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ability-info {
    background-color: rgba($primary-color, 0.4);
    margin: 1.2rem;
    border: 1px solid $fourth-color;
    width: 25rem;
    padding: 2rem;
}

.ability-info p {
    color: $primary-color;
    background-color: $fourth-color;
    height: 2rem;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 0.4rem;
}

.ability-info li {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color: $text-color;
    list-style: inside;
}

/*frontend-draw css*/

.frontend-container {
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.frontend-imgs {
    display: grid;
    width: 40%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 30% 30% 30%;
    height: 30rem;
    justify-items: center;
    align-items: center;
    align-self: flex-end;
}

.frontend-imgs p {
    color: $text-color;
    background-color: $terciary-color;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: span 3;
    font-size: 1.8rem;
}

.react-img {
    grid-column-start: 2;
    grid-row-start: 2;
    animation-duration: 5s;
    animation-name: rotate;
    animation-iteration-count: infinite;
   // -webkit-filter: drop-shadow($img-ligth-shadow);
   // filter: drop-shadow($img-ligth-shadow);
    width: 9rem;
    height: 8rem;
}

.next-img {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
    //-webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
    width: 8rem;
    height: 8rem;

}

.js-img {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: span 2;
    //-webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
    width: 9rem;
    height: 9rem;

}

.css-img {
    grid-row-start: 4;
    grid-column-start: 1;
   // -webkit-filter: drop-shadow($img-ligth-shadow);
   // filter: drop-shadow($img-ligth-shadow);


}

.sass-img {
    grid-row-start: 4;
    grid-column-start: 2;
   // -webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);

}

.tailwind-img {
    grid-row-start: 4;
    grid-column-start: 3;
   // -webkit-filter: drop-shadow($img-ligth-shadow);
   // filter: drop-shadow($img-ligth-shadow);
}

/*start frontend draw css */

.frontend-draw {
    border: none;
    width: 45%;
    height: 30rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    background-color: $title-color;
    border-radius: 0.6rem;
    box-shadow: $ligth-shadow;
    animation-name: frontendDraw;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.draw-bar {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.6rem;
    background-color: $fourth-color;
    grid-column-start: 1;
    grid-column-end: span 2;
    animation-name: pageBar;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.draw-aside {
    width: 100%;
    height: 100%;
    margin: 0 0.3rem;
    border: none;
    border-radius: 0.6rem;
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: $fifth-color;
    animation-name: aside;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.draw-article {
    width: 100%;
    height: 100%;
    margin: 0 0.3rem;
    border: none;
    border-radius: 0.6rem;
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: $six-color;
    animation-name: article;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    padding: 1rem;

}

.draw-article p{
    width: 90%;
    height: 5%;
    border-radius: 1rem;
    background-color: $text-color;
    margin: 1rem 0;
}

/*end frontend draw css */

/*backend draw*/

.backend-container {
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.backend-draw {
    border: none;
    width: 45%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    background-color: $title-color;
    border-radius: 0.6rem;
    box-shadow: $ligth-shadow;
}

.server-draw-one{
    border: 5px solid $terciary-color;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.4rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;

}

.server-draw-two{
    border: 5px solid $terciary-color;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.4rem;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    grid-column-start: 2;
    grid-row-start: 2;
}

.server-button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $six-color;
    align-self: start;
    justify-self: end;
    animation-name: button;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.server-bar{
    background-color: $fifth-color;
    width: 90%;
    height: 70%;
    border-radius: 1rem;
    margin: 0.4rem 0;
    animation-name: bars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gear-one{
    grid-row-start: 2;
    grid-column-start: 1;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.gear-two{
    grid-row-start: 1;
    grid-column-start: 2;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.jwt-img{
   // -webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
}

.express-img{
   // -webkit-filter: drop-shadow($img-ligth-shadow);
   // filter: drop-shadow($img-ligth-shadow);
}

.mysql-img{
   // -webkit-filter: drop-shadow($img-ligth-shadow);
   // filter: drop-shadow($img-ligth-shadow);
}

.postgres-img{
   // -webkit-filter: drop-shadow($img-ligth-shadow);
   // filter: drop-shadow($img-ligth-shadow);
}

.mongo-img{
    //-webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
}

.fastapi-img{
    //-webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
}

.node-img{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
    //-webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
}

.python-img{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: span 2;
    //-webkit-filter: drop-shadow($img-ligth-shadow);
    //filter: drop-shadow($img-ligth-shadow);
}

.tools-container{
    height: 35rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;   
}

.tools-draw{
    height: 30rem;
    width: 40%;
    border: 5px solid $title-color;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 5rem 3rem 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
    justify-items: center;
    padding: 1rem;
    box-shadow: $ligth-shadow;

}

.pointer{
    border: solid $text-color;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    border-radius: 0.5rem;
    height: 0;
    width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
}

.underscore{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    justify-self: start;
}

.underscore:before{
    color: $text-color;
    display: inline-block;
    font-size: 5rem;
    font-weight: bold;
    overflow: hidden;
}

.underscore:after{
    content: "Whoami";
    color: $text-color;
    font-size: 5rem;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    animation-name: cli;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.git-img{
    grid-column-start: 1;
    grid-row-start: 2;
}
.github-img{
    grid-column-start: 3;
    grid-row-start: 2;
}

.azure-img{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
}

.jest-img{
    grid-column-start: 1;
    grid-column-end: span 2;

    grid-row-start: 3;
}

.mac-img{
    grid-column-start: 1;
    grid-row-start: 4;
}

.window-img{
    grid-column-start: 2;
    grid-row-start: 4;
}

.linux-img{
    grid-column-start: 3;
    grid-row-start: 4;
}
/* keyframes*/

@keyframes arrows {
    from {
        border-color: $seven-color;
        color: $seven-color;
    }

    to {
        border-color: $six-color;
        color: $six-color;
        width: 2rem;
        height: 2rem;


    }
}

@keyframes rotate {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes frontendDraw{
    from{
        grid-gap: 4rem;
    }
    to{
        grid-gap: 1rem;
    }
}

@keyframes bars{
    from{
        width: 30%;
    }
    to{
        width: 90%;
    }
}

@keyframes button{
    from{
        width: 0;
    height: 0;
    }
    to{
        width: 2rem;
    height: 2rem;
    }
}

@keyframes cli{
    0%{
        content: "_";
        width: 3rem;
    }
    5%{
        content: '';
        width: 3rem;
    }
    10%{
        content: '_';
        width: 3rem;
    }
    15%{
        content: '';
        width: 3rem;
    }
    20%{
        content: '_';
        width: 3rem;
    }
    25%{
        content: '';
        width: 3rem;
    }
    30%{
        content: '_';
        width: 3rem;
    }
    35%{
        content: '';
        width: 3rem;
    }
    40%{
        width: 0;
    }
    100%{

        width: 25rem;
    }
} 

@media(max-width: 750px) {

    .abilities-container {
        justify-content: center;
        margin-top: 9rem;
    }
    .frontend-container, .tools-container{
        flex-direction: column-reverse;
        height: 70rem;
        justify-content: space-between;
        position: relative;
    }
    .backend-container{
        flex-direction: column;
        height: 70rem;
        justify-content: space-between;
        position: relative;
    }
    .frontend-imgs{
        width: 100%;
        top: 0;
    }

    .frontend-draw, .backend-draw, .tools-draw{
        width: 90%;
    }
}