@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

.Header {
    background-color: $primary-color;
    height: 300px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    position: relative;
    transition: height 1s;

}

.header-title {
    color: $title-color;
    text-align: center;
    font-size: 2.8rem;
    margin-top: 2.4rem;
}

.header-description {
    color: $text-color;
    text-align: center;
    font-size: 1.6rem;
    margin: 1rem;

}

.img-container{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom:-75px;
}

.header-img {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 10px dotted $title-color;
    
}

.tags-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr ;
    justify-items: center;
    position:absolute;
    bottom: -100px;
}

.tags {
    color: $text-color;
    padding: 0;
    background-color: rgba($terciary-color,0.8);
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 150px;
    border-top: 10px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
    transition: height 0.5s;

}

.tags:hover{
    background-color: $fourth-color;
    color: $primary-color;
    zoom: 115%;
}

.minimized {
    height: 80px;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: height 1s;

}

.minimized h1, .minimized h2 {
    display: none;
}

.minimized .img-container {
    width: 150px;
    height: 150px;
}

.minimized .tags-container {
    bottom: -50px;
}

.minimized .tags {
    border: none;
    background-color: rgba($terciary-color,0.8);
    width: 100px;
    height: 40px;
    border-radius: 4px;
    transition: height 1s;

}

.minimized .tags:hover{
    background-color: $fourth-color;
    color: $primary-color;
    zoom: 115%;
}

@media(max-width: 640px) {
    .Header {
        height: 250px;
    }

    .tags-container {
        bottom: -50px;
    }

    .tags{
        height: 100px;
        border-top: 5px solid transparent;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid black;
    }

    .img-container {
        width: 130px;
        height: 130px;
        bottom: -10px;
    }

    .minimized {
        height: 60px;
    }

    .minimized .img-container {
        width: 100px;
        height: 100px;
        bottom: -50px;
    }
    
    .minimized .tags-container {
        bottom: -50px;
    }
    
    .minimized .tags {
        border: none;
        background-color: rgba($terciary-color,0.8);
        width: 70px;
        height: 30px;
        border-radius: 4px;
        margin-left: 4px;
        margin-right: 4px;
    }
    
}
