@import "_vars.scss";

.portfoliocontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    font-size: 1.8rem;
}

.link p{
    color: white;
}

.link a{
    color: $secondary-color;
    text-decoration: none;
    height: 30px;
    width: fit-content;
    margin: 4px 0;
    background-color: $fourth-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
}

@media(max-width: 550px){

.portfoliocontainer{
    justify-content: center;
    margin-top: 9rem;

}
}